button {
    border: 0;
    border-radius: 8px;
    background-color: #A0583C;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #EFEFF5;
    padding: 15px;        
    display: block;
    cursor: pointer;
}